.home{
  grid-template-columns: 1fr 2fr;

  align-items: center; /* Centers content vertically */
 align-items: center;
 /* background-color: var(--first-color); */
 padding: 40px;
 height: 100vh;
}

.home__img{
 height: 100%;
 object-fit: cover;
 border-radius: 30px;
 /* box-shadow: ;
 
  */
  border: 1px solid rgb(42, 6, 6);
  box-shadow: 0 0 8px hsla(0, 0%, 0%, 0.3);
  z-index: 1;

}

.home__data
{




/* background-color: var(--first-color); */
 max-width: 650px;
 margin-inline: 50px;
 padding-top: 20px;
}



.home__title{
 position: relative;
 font-size: var(--h1-font-size);
 line-height: 1.24;
 padding-left: 45px;

}

.home__title span{
 color: var(--first-color);
}



.home__titile::before{
 content: " ";
 position: absolute;
 left: 0;
 top: 22%;
 width: 40px;
 height: 5px;
 border-radius:10px;
 background-color: var(--first-color);
}


.button:hover::before{
  transform: translateX(0);

}

.home__description{
 list-style: 2.125;
 margin-block: 16px 32px;
 font-size: 23px;
}

.color__block{
 position: fixed;
 height: 200%;
 width: 100%;
 background-color: var(--first-color);
 top: -50%;
 left: -83%;
 transform: rotate(-15deg);
}